#web_bg{
    background-color: #1b1511
}

#page-header {
    background-color: rgba(0, 0, 0);
}
#site-name{
    color: white;
}
.layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(0, 0, 0, 0.3);
}
#site-title{
    font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', ‘Source Han Serif’, source-han-serif-sc, serif;
}
#subtitle{
    font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', ‘Source Han Serif’, source-han-serif-sc, serif;
}

.card-category-list-link{
    border-radius: 5px;
}
.card-archive-list-link{
    border-radius: 5px;
}
#page-header.nav-fixed #nav{
    background-color: rgba(87, 175, 148, 0.5)
}
:root{
    --scrollbar-color: #8b8b8b;
    --text-highlight-color: #4d6978;
    --btn-hover-color: #d82f83;
    --btn-bg: #464646;
    --text-bg-hover: rgba(119, 119, 119, 0.7);
    --pseudo-hover: #000000;
}

#card-info-btn{
    border-radius: 5px;
}
/* #card-info-btn:hover{
    transform: skewX(70em)
} */
#pagination .page-number.current {
    background: #839fc3c2;
}

#footer-wrap{
    background-color: #697f7d;
}
/*分类中元素的前标*/
.category-lists ul li:before {
    border: 0.215em solid #dbdbdb;
}
/*分类中元素文字 hover*/
.category-lists .category-list a:hover {
    color: #0aa598;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-title:hover {
    color: #0aa598;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-title {
    color: #022b27;
    display: inline;
}